<html>
<body style="background-repeat:none;min-height:1800px;" background="http://54.204.254.233/img/moreno.jpg">
<h1 style="color:red;">APACHE SERVER UP&RUNNING</h1>

<h2 style="color:red;">AMAZON SUCKS!</h2>

<h2 style="color:red;">LA IP DE LOS AMAZONIOS: <%=node['cloud']['public_ipv4']%></h2>

<h2 style="color:red;">AMAZONIOS HOSTNAME: <%=node['hostname']%></h2>

<h2 style="color:red;"> micopyrightenamazon 2016</h2>

</body>
</html>
